*.class
*.war
*.ear
*.bak
*~
.gitignore
.idea
.idea/*
logs
logs/*
tmp
tmp/*
.history
.svn
.svn/*
*.svn
.DS_Store
*.iml
.iml
.classpath
.project
.settings
target
target/*
.mvn/
*.ipr
*.iws
lib/*
.checkstyle
.ekstazi
.pmd
.pmdruleset
.pmdruleset.xml
.ruleset
.settings/
velocity.log
bin
bin/*
.metadata
.metadata/*
.sonar
.sonar/*
